.comment-list {
  @include list-unstyled;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}

.comments {
  margin: 3em 0;
  h2, h3 {
    margin-bottom: 0;
    font-size: 1.6em;
    &.comment-reply-title {
      margin-bottom: .5em;
    }
  }
  .comment-body {
    padding-top: 2em;
     .comment-metadata {
       @extend .small;
       @extend .uppercase;
       margin: .75em 0 1em;
     }
   }
  .comment-respond {
    margin-top: 3em;
    .comment-notes {
      margin-bottom: 2em;
      color: lighten($text-color, 20%);
      font-size: .88em;
    }
    label {
      font-weight: 400;
    }
  }
}
