body {
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
  .body-wrap {
    overflow-x: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $pink;
  font-weight: 700;
  text-transform: uppercase;
}

.small {
  font-size: .78em;
}

.uppercase {
  letter-spacing: .08em;
  text-transform: uppercase;
}

// Override default bootstrap type margin
p {
  margin: 0 0 ($line-height-computed);
}

ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed);
  ul,
  ol {
    margin-bottom: 0;
  }
}

a {
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  &:hover {
    text-decoration: none;
  }
}

.pagination {
  margin: 0 0 2.5em;
}

// No gutters
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}