// Glyphicons font path

$icon-font-path:        "../fonts/";

// Grid settings

$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$grid-gutter-width:     50px;

// Colors

$white:                 #fff;
$light-gray:            lighten(#ccc, 10%);

$brand-primary:         #5f9488;

// Typography

$font-size-base:            16px;
$font-family-sans-serif:    'Source Sans Pro', 'Arial', sans-serif;
$headings-font-family:      'Oxygen';

// Navbar

$navbar-height:             131px;
$navbar-default-bg:         transparent;
$navbar-default-border:     transparent;

