// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #5f9488;

// Navbar

$navbar-height:             131px;
$navbar-default-bg:         transparent;
$navbar-default-border:     transparent;

