.content-info {
  padding: 2em 0;
  font-size: .72em;
  text-align: center;
  .footer-info {
    margin: 0 0 1em;
    li {
      padding: .5em 1em;
      @include min($sm) {
        padding: 0 1em;
      }
    }
  }
}