.navbar-default {
  .navbar-header {
    margin: auto;
    @include min($sm) {
      position: absolute;
      right: 0;
      left: 0;
      float: none !important;
      width: 180px;
    }
    .navbar-brand {
      margin: 0;
      padding: 0;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;
      @include min($sm) {
        @extend .col-sm-5;
        li {
          float: none !important;
          display: inline-block;
        }
        &.left-nav {
          text-align: right;
          padding-right: $grid-gutter-width;
        }
        &.right-nav {
          text-align: left;
        }
      }
    }
  }
}