.page-header {
  margin: 0;
  padding: 0;
  border: 0;
  .page-title-wrap {
    margin: 1em 0;
    text-align: center;
    .line-bar {
      position: relative;
      top: 10px;
      z-index: -1;
      border-bottom: 1px solid $light-gray;
    }
    .page-title {
      display: inline-block;
      margin-top: -1.2em;
      padding: .5em .75em;
      font-size: 1.25em;
      font-weight: 700;
      letter-spacing: .1em;
      text-transform: uppercase;
      background-color: $body-bg;
      border: 1px solid $light-gray;
    }
  }
}