article {
  &.main-article, &.single-article  {
    margin-bottom: 3em;
    .entry-meta {
      @extend .uppercase;
      margin: .75em 0 1.5em .1em;
      time {
        font-size: .88em;
      }
    }
  }
  .entry-summary {
    p {
      margin-bottom: ($line-height-computed / 2);
    }
  }
  .entry-cats {
    .fa {
      margin-right: 5px;
      font-size: .78em;
    }
    .entry-tags {
      text-transform: uppercase;
      @include min($md) {
        float: right;
        display: inline-block;
      }
    }
    .entry-tags-list {
      display: inline-block;
      font-size: .78em;
      a {
        display: block;
        padding: 5px 8px;
        color: $white;
        line-height: 1;
        background-color: lighten($brand-primary, 15%);
        border-radius: 4px;
        &:hover {
          background-color: $brand-primary;
        }
      }
    }
  }
}

.article-header {
  padding: 5px;
  border: 1px solid $light-gray;
  .article-header-wrap {
    position: relative;
    @include aspect-ratio(3,2);
  }
  .aspect-ratio {
    >img {
      @extend .img-responsive;
      width: 100%;
    }
    .entry-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      box-shadow: inset 0 -120px 200px -50px rgba(0,0,0,.8);
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .entry-link {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    .entry-title {
      position: absolute;
      bottom: 0;
      z-index: 1;
      display: inline-block;
      color: $white;
      padding: 0 .5em;
      font-size: 1.25em;
      font-weight: 700;
      letter-spacing: .08em;
      text-transform: uppercase;
      @include min($sm) {
        font-size: 1.6em;
        line-height: 1.4;
      }
    }
  }
  &:hover {
    .entry-overlay {
      box-shadow: inset 0 -120px 200px -50px rgba(0,0,0,.4);
    }
  }
}

.entry-content, .page-content {
  img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    border: 1px solid $light-gray;
  }
  .wp-caption {
    > img {
      padding: 0;
      border: 0;
    }
  }
  /* Plugin Styles */
  .gallery {
    .gallery-item {
      float: none !important;
      display: inline-block;
      width: 50% !important;
      vertical-align: top;
      @include min(600px) {
        width: 33% !important;
      }
      @include min($sm) {
        width: 25% !important;
      }
      img {
        max-width: 150px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        border: 1px solid $light-gray !important;
      }
    }
    br {
      display: none;
    }
  }
}
