aside {
  font-size: .88em;
  .widget {
    margin-bottom: 3em;
    @include min($md) {
      padding-left: $grid-gutter-width;
    }
    h3 {
      margin: 0 0 1em;
      padding: .5em;
      font-size: 1em;
      letter-spacing: .1em;
      text-align: center;
      background-color: lighten($light-gray, 5%);
    }
    > ul, ol {
      padding: 0;
      text-align: center;
      list-style-type: none;
      li {
        padding: .5em;
        border-bottom: 1px solid $light-gray;
        transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        &:hover {
          background-color: lighten($light-gray, 7.5%);
        }
        a {
          display: block;
        }
      }
    }
    .input-group {
      width: 100%;
    }
    .fb_iframe_widget {
      display: block;
      text-align: center;
    }
    .tp_recent_tweets {
      float: none;
      ul {
        padding: 0 0 0 10px;
        li {
          float: none;
          background-size: 16px 12px;
        }
      }
    }
    &.jetpack_subscription_widget {
      form {
        @extend .form-inline;
        #subscribe-email {
          display: inline-block;
          width: 54%;
          input[type="email"] {
            @extend .form-control;
            width: 95%;
          }
          @include min($lg) {
            width: 62%;
          }
        }
        #subscribe-submit {
          display: inline-block;
          input[type="submit"] {
            @extend .btn;
            @extend .btn-primary;
          }
        }
      }
    }
  }
}